---
eleventyExcludeFromCollections: true
layout: base.njk
permalink: /404.html
title: Ooooops
---

<div class="content page pt-4">
    Sorry, that page does not exist.<br /><br />
    <img src="{{ "404.png" | imgurl }}" alt="Sad panda can't find this site" />
</div>
