<ul reversed >
    {% for post in postslist | reverse %}
        <li class="bg-gradient-to-r from-white via-gray-100 to-white dark:via-dark-middle dark:from-dark-outer dark:to-dark-outer mb-4 px-6 py-2 truncate">
            <div>
                <span class="text-lg tabular-nums">{{ post.date | readableDate }}</span>
                <a href="{{ post.url }}" class="ml-6">{{ post.data.title }}</a>
            </div>
            <div>

            </div>
        </li>
    {% endfor %}
</ul>