{% set outline = content | toc %}
{% if outline %}
<div id="toc" class="sticky top-20">
    <p class="text-xs font-semibold uppercase tracking-wider text-gray-400 dark:text-gray-400 mb-3">On this page</p>
    <nav class="toc text-sm">
        {{ outline | safe }}
    </nav>
</div>
{% endif %}
