---
permalink: /search-index.json
eleventyExcludeFromCollections: true
---
[{%- for post in collections.posts -%}
{%- set imageUrl = (siteconfig.cloudinaryPreviewUrl + siteconfig.cloudUrl + post.data.image) if post.data.image else null -%}
{"objectID":{{ post.url | dump | safe }},"url":{{ post.url | dump | safe }},"title":{{ post.data.title | dump | safe }},"excerpt":{{ post.templateContent | striptags | truncate(200) | dump | safe }},"image":{{ imageUrl | dump | safe }},"tags":{{ post.data.tags | dump | safe }}}{% if not loop.last %},{% endif %}
{%- endfor -%}
]
