---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - tagsSortedByCount
    - recents
  addAllPagesToCollections: true
layout: base.njk
eleventyComputed:
  title: "Tagged: {{ tag | labelTag }}"
permalink: /tags/{{ tag | slugTag }}/
---
<div class="content post pb-8">
    <h1>Tagged: {{ tag | labelTag }}</h1>

    {% set postslist = collections[ tag ] %}
    {% include "postlist.njk" %}
</div>
